.menu-items {
    position: relative;
    
}
.menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 35px;
    width: 165px;
}

.menu-items li {
    height: 43px;
    margin-top: 8px;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.menu-items li:hover {
    background-color: #a1dae8;
    
}

.vertical-tiles-li {
    margin-left: 5px;
    height: 30px;
    width: 8px;
    background-color: #59679c;
}

.span-tiles-li {
    font-size: large;
    margin-left: 10px;
    font-family:'Meiryo', sans-serif;
}

.span-tiles-li:hover {
    background-color: #a1dae8;
}

.selected {
    background-color: #a1dae8;
  }