.MyChart {
    max-height: 670px !important;
    max-width: 1640px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 670px !important;
    width: 1640px !important;
    canvas {
        display: contents;
        border-radius: 5px;
    }
}


