html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: normal;
}

* {
    box-sizing: border-box;
}

a {
    writing-mode: horizontal-tb !important;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    border-bottom: 1px solid #969696 !important;
}

.content {
    margin-top: 10px;
}

.header-top {
    background-color: #1e4a9f;
    height: 55px;
}

.header-bot {
    background-color: #2a2e3d;
    height: 30px;
    padding: 0 20px;
}

.header-title {
    display: inline-block;
    writing-mode: horizontal-tb;
    background-color: #ffffff;
    height: 40px;
    padding: 0 20px;
    width: inherit;
}

.header-title p {
    writing-mode: horizontal-tb;
    display: flex;
    margin-top: 5px;
    line-height: 25px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
}

.item-header-title {
    display: flex;
}

.p-blu {
    display: inline-block;
    color: #2f6294;
    font-weight: bold;
    text-decoration: none;
    line-height: 10px;
    margin-top: 10px;
}

.p-white {
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    line-height: 10px;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-left: 10px;
}

/* black bar*/
.black-bar {
    margin-top: 5px;
    background-color: #000000;
    height: 28px;
    width: 10px;
    border-left: 3px solid white;
}

.navbar-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.navbar-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* icon account login*/
.header-account {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.header-account span {
    display: block;
    font-size: 15px;
}

.login-icon {
    background-color: #edf4fb;
    border-radius: 55%;
}

.account_id {
    margin-left: 10px;
    color: #edf4fb;
}

.username {
    margin-left: 10px;
    color: #edf4fb;
}

.menu-user {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1e4a9f;
    padding: 5px 1px 2px 1px;
    display: none;
    margin-right: 55px;

}

.menu-user button {
    display: block;
    width: 100% !important;
    padding: 2px 50px 2px 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    font-family: "Meiryo", sans-serif;
}

.menu-user button:hover {
    background-color: #19397b;
    color: #757878;
}

.header-account:hover .menu-user {
    display: block;
}




.div-calendar {
    margin-top: 10px;
}

/* footer*/

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    background-color: #1e4a9f;
    height: 30px;
}

footer p {
    color: #ffffff;
}

.username {
    display: block;
}

/* css container */
main {
    display: block;
    padding-left: 0px;
    height: 100%;
    width: 100%;
}

.img-login-icon {
    width: 35px;
    height: auto;
}

.container {
    max-width: 100% !important;
    display: flex;
    margin: 0 !important;
    position: fixed;
    top: 125px;
    bottom: 3px;
    right: 0px;
    left: 0px;
    box-sizing: border-box;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.menu-left {
    position: relative;
}

.menu-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-image: linear-gradient(to bottom, #969696, transparent);
}


.chart-all {
    padding: 0px !important;
    height: 100%;
    width: 100%;
    display: block;
    flex-basis: 100%;
    background-color: #f3f4f8;
    margin-top: 1px;
}

.chart-table-1 {
    max-width: none;
    margin-top: 2.3rem;
    padding-left: 85px;
    padding-right: 85px;
    margin-bottom: 5px;
    width: 100%;
}

.chart-table-2 {
    max-width: none;
    padding-left: 50px;
    width: 100%;
}

.combo-chart-p {
    display: flex;
    justify-content: space-between;
}

.combo-chart-p p {
    color: #686868;
    font-size: 12px;
    margin: 10px 55px 0 5px;
}

.table-p {
    display: flex;
    flex-direction: row-reverse;
}

.table-p p {
    color: #969696;
}

/*btn-style1*/

/*switch-btn*/
.switch {
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    position: relative;
    cursor: pointer;

    &.on {
        background-color: #3af;
    }

    .switch-btn {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.2s ease-in-out;

        &:after {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            background-color: #ccc;
            border-radius: 50%;
            position: absolute;
            top: 6px;
            left: 6px;
        }
    }

    &.on .switch-btn {
        transform: translateX(30px);

        &:after {
            background-color: #fff;
            top: 6px;
            left: auto;
            right: 6px;
        }
    }
}

/*switchGSM_MSM*/
.switchGSM_MSM {
    display: flex;
    position: fixed;
    top: 175px;
    right: 240px;
    background-color: #ccc;
    border-radius: 20px;
}

/*switchTable_Chart*/
.switchTable_Chart {
    display: flex;
    position: fixed;
    top: 175px;
    right: 840px;
    border-radius: 20px;
}

.logout-btn {
    text-align: left;
    justify-content: flex-start;
}

.change-pass-btn {
    text-align: left;
    justify-content: flex-start;
}

.hr-menu-user {
    margin: 0;
    background-color: white;
    border: none;
    height: 1px;
}