* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  background-color: #313132;
  opacity: 0.96;
}

.wrapper-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  border: 3px solid #000;
  transform: translate(-50%, -50%);
  
}

.content-modal1 {
  transition: 0.2s ease-out;
  z-index: 9999;
  background: #ffffff;
  position: relative;
  margin: 13rem auto;
  border-radius: 10px;
  max-width: 700px;
  padding: 2rem;
  height: 35%;
  padding: 0;
  
}

.view-modal {
  display: flex;
  justify-content: flex-end;
}

.title-modal {
  margin-left: 15px;
}

.span-title,
.span-time {
  text-align: center;
  font-size: 23px;
  color: #dc2a1d;
  font-family: "Meiryo", sans-serif;
}

.span-title-value1,
.span-time-value1 {
  margin-left: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  font-family: "Meiryo", sans-serif;
}
.div-hr{
  display: flex;
  justify-content: center;
}

.custom-hr {
  border: none;
  border-top: 1px solid #000;
  width: 95%;
  margin: 0;
}


.btn_accept {
  height: 33px;
  min-width: 130px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: white;
  background-color: #337ab7;
  border: 0.2px solid #7ca9d0;
  border-radius: 5px;
  margin: 0 0 0 10px;
}

.btn_cancel {
  height: 33px;
  min-width: 130px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #807571;
  border-radius: 5px;
  border: 0.2px solid #e9eaeb;
  background-color: #dddee0;
  margin: 0 10px 0 0;
}

.content-title-modal1 {
  border: 21px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 13%;
}

.icon-warning {
  height: 35%;
  display: flex;
  justify-content: center;
}

.contain-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-view {
  display: flex;
  margin: 10px 30px 10px;
  justify-content: space-between;
  align-items: center;
}
.input-view span{
  font-size: 17px;
  font-family: "Meiryo", sans-serif;
}

.input-view input {
  width: 370px;
  height: 30px;
  padding-left: 5px;
  border: 0.2px solid #969696;
  margin-right: 20px;
}

.combo-btn-cancel-accept{
  display: flex;
  justify-content: center;
}

.div_btn{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
}

/* Responsive Styles */
@media screen and (max-width: 35%) {
  .content-modal1 {
    max-width: 90%;
    margin: 6rem auto;
    height: auto;
  }


  .btn_accept,
  .btn_cancel {
    width: 100%;
    bottom: 10px;
  }

  .input-view input {
    width: 100%;
  }
}