.div-sys-err {
    padding: 100px 50px 50px 50px;
    .content1-sys-err {
        margin-bottom: 2px;
    }
    .content2-sys-err {
        word-wrap: "break-word";
        word-break: "break-all";
        white-space: "pre-line";
    }
}
