
.datePicker-toggle {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 27px;
    height: 27px;
    margin-bottom: 5px;
}

.datePicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/calendar.png");
}

.datePicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.datePicker-input::-webkit-calendar-picker-indicator {
    content: "\25BC";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.calendar-btn {
    margin-top: 9px;
    display: flex;
    align-items: center;
}

.btn-time-up,
.btn-time-now {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    margin-left: 10px;
    background-color: white;
    color: #338ccc;
    font-family: 'Meiryo Bold', sans-serif;
}

.btn-time-down {
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    margin-left: 15px;
    background-color: white;
    color: #338ccc;
    font-family: 'Meiryo Bold', sans-serif;
}

.time-span {
    margin-left: 15px;
    text-align: center;
    font-family: 'Meiryo Bold', Meiryo,sans-serif;
    font-size: 20px;
    font-weight: 700;
}

/* Định dạng cho biểu tượng */
.icon {
    margin-right: 5px; 
}
